[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"
psycopg2-binary = "==2.9.5"
django-crispy-forms = "==1.14"
django-allauth = "==0.51.0"
environs = {version = "==9.5.0", extras = ["django"]}
pillow = "==9.3.0"

[dev-packages]

[requires]
python_version = "3.11"
